.DS_Store
comments
manuscraps.Rmd
ms-old.pdf
ms-old.rnw
ms-old.tex
ms.bbl
ms.blg
ms.log
response-to-reviewers*
response-to-coauthors
cover-letter.docx
cover-letter.pdf
suggested-reviewers
amnat-title-page.aux
amnat-cover-letter*
amnat-title-page*
test*
*.aux
notes*
archive*
packages.bib
r0
r1
*.zip
reviews
revision-instructions
response-to-editor.pdf
response-to-editor.Rmd
response-to-editor1.Rmd
online-supplement.log
online-supplement.synctex.gz
response-to-editor1*
